:root{
    --color-white: #ffffff;
    --color-red:#ff0000;
    --color-white2: #F9F9F9;
    --color-black: #000000;
    --color-grey: #404044;
    --color-grey2:#727272;
    --color-light-red:#E33F3F;
    --color-mid-light-red:#E33F3F33;
    --color-light-black:#494949;
    --color-pink:#e59696;
    --color-light-gray:#DCF2ED;
}
 
*{
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    width: 100vw;
    overflow-x: hidden;
}